
// --------------
// Variables
// --------------


// Fonts
@headerfont: Georgia;
@sansserif: Arial;
@imagebyline: Verdana;
@paragraphfont: "Times New Roman";
@fontlinks:Arial;
@chalkboardfont:'Delius Unicase', cursive;

@fontcolor: #fff;
@h1size: 5.5em;
@basecolor: #000;
@baseblue:#262d35;
@basegrey:#afb7b5;

@sec1height: 1750px;
@sec2height: 550px;
@sec3height: 1250px;
@sec4height: 3650px;
@sec5height: 4700px;
@sec6height: 1485px;
@sec7height: 2200px;
@sec8height: 1000px;
@sec9height: 2050px;
@sec10height: 3500px;
@contactheight: 500px;


// ----------
// Mixins
// ----------

.sectionClass(@height, @backgroundcolor){
	width: 100%;
	height: @height;
	float: left;
	background-color: @backgroundcolor;
}

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.mirror (@value) {
    -webkit-transform: scaleY(@value); 
       -moz-transform: scaleY(@value); 
        -ms-transform: scaleY(@value); 
         -o-transform: scaleY(@value); 
            transform: scaleY(@value); 
}


.marginFix(){
	margin-top: -10px;
 	margin-left: -7px;
}

.marginFixSection(){
	padding-right: 18px;
	margin-left:-10px;
}

.textPadding(){
	padding-right: 25px;
	padding-left: 25px;
}

.border(@bordertype, @width, @color){
	border: @bordertype @width @color;
}

.dimensions(@height, @width){
	height: @height;
	width: @width;
}

.positionCenter(){
	margin-right: auto;
	margin-left: auto;
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

.info{
	font-family: @sansserif;
	font-size: @h1size * 0.19;
	color:@fontcolor;
	.textPadding();
}	

.imagebyline{
	font-family: @imagebyline;
	font-size: @h1size * 0.14;
	color:@fontcolor;
	.textPadding();
}

// ----------
// CSS
// ----------

body{
	background-color: @basecolor;
	overflow-x: hidden;
	height: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height + @sec7height + @sec8height + @sec9height + @sec10height + @contactheight);
}

h1, {
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size;
}

h2{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.5;
}

h3{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.3;
	.textPadding();	
}

h4{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.2;
	.textPadding();	
}


.bread{
	font-family: @paragraphfont;
	color: @fontcolor;
	.textPadding()
}

.quote{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.5;	
	font-style: italic;	
	text-align: center;
}

.quotesmall{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.3;	
	font-style: italic;	
	text-align: center;	
}

#wrp{
	height: auto;
	width: 100%;
}

#menu{
	position: fixed;
	z-index: 10;
	height: 50px;
	width: 87%;
	background-color: @baseblue;	
	margin-left:-15px;
	margin-top: -10px;
	opacity:0.65;
	border-bottom:thick solid white;
	border-right:thick solid white;

	a{
		opacity:1.0;
	}

	p{
		font-family: @sansserif;		
		font-size: @h1size * 0.11;
		font-weight: bold;
		margin-left: 5px;
		color:white;
	}
}


#menutop{
	position: absolute;	
	z-index: 1;
	.dimensions(50px, 4.11%);
	background-color: black;	

	video{
		position: absolute;		
		.dimensions(50px, 100%);
	}
}

#menusec1{
	position: absolute;
	top:0;
	left:4.11%;
	z-index: 1;
	.dimensions(50px, 10.5%);
	background-image: url('../pics/menu/1.jpg');
	background-size: cover;

}


#menusec2{
	position: absolute;
	top:0;
	left:14.61%;
	z-index: 1;
	.dimensions(50px, 5.75%);
	background-color: @basegrey;
}

#menusec3{
	position: absolute;
	top:0;
	left:20.35%;
	z-index: 1;
	.dimensions(50px, 16.22%);
	background-color: #0F0F0F;
	background-image: url('../pics/menu/3.jpg');
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
}

#menusec4{
	position: absolute;
	top:0;
	left:36.57%;
	z-index: 1;
	.dimensions(50px, 21.16%);
	background-image: url('../pics/menu/4.jpg');
	background-size: 100% 300%;

}

#menusec5{
	position: absolute;
	top:0;
	left:57.73%;
	z-index: 1;
	.dimensions(50px, 6.63%);
	background-image: url('../pics/menu/5.jpg');
	background-size: 100% 100%;}

#menusec6{
	position: absolute;
	top:0;
	left:64.36%;
	z-index: 1;
	.dimensions(50px, 9.86%);
	background-color: #060005;
	background-image: url('../pics/menu/6.jpg');
	background-size: 100% 200%;
	background-position: 0 30%;

}


#menusec7{
	position: absolute;
	top:0;
	left:74.22%;
	z-index: 1;
	.dimensions(50px, 4.59%);
	background-color: #CC0001;
	background-image: url('../pics/menu/7.png');
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;}

#menusec8{
	position: absolute;
	top:0;
	left:78.71%;
	z-index: 1;
	.dimensions(50px, 13.36%);
	background-color: @basecolor;
}

#menusec9{
	position: absolute;
	top:0;
	left:92.07%;
	z-index: 1;
	.dimensions(50px, 7.93%);
	background-image: url('../pics/menu/9.jpg');
	background-size: 100% 100%;
}

header{
	position: absolute;
	margin-left: 12%;
	margin-top:7%; 
	z-index: 1;
	width: 525px;
	height: auto;		
	float: left;
	background-color: @baseblue *0.3;	
}

#title{	
	padding-right: 15px;
	padding-left: 25px;
	margin-top: -25px;
	float: left;	
}

#titleinfo{
	height: auto;
	width: 100%;
	float: left;
	margin-top: -25px;
	padding-bottom: 25px;
	p{
		.textPadding;
	}
}

#text1{
	position: absolute;
	z-index: 1;
	margin-left: 77%;
	margin-top: 32%;
	width: 250px;
	height: auto;
	background-color: #0d090e;
	.border(dashed, 5px, white);

}

.boxFooter{
	width: 100%;
	height: 20px;
	background-color: @baseblue *0.3;	
}

#headvideo {
	position: absolute;
	z-index: -1;
	.marginFix;
 	height: auto;
 	width: 101.5%; 
 	float: left;
}

#cont{
	position: absolute;
	.dimensions(calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height + @sec7height + @sec8height + @sec9height + @sec10height + @contactheight), 100%);		
	margin-top: 50%;
}

#sec1{
	position: absolute;
	z-index: 1;
	.dimensions(@sec1height, 100%);	
	float: left;
	background-image: url("../pics/chalkboard.jpg");	
	background-size: cover;
	.marginFixSection();

	img{				
		position: absolute;
		.dimensions(300px, auto);
		.border(solid, 10px, #fff);	
		top: 25px;
		right: 45px;
		.rotate(-7deg);
	}
}

.chalkHeader{
	font-family: @chalkboardfont;
	.textPadding();
}

.chalkText{
	font-family: @chalkboardfont;
	color: white;
	.textPadding();
	margin-top: 15px;
}

#chalkHeader{	
	.dimensions(auto, 50%);		
}

#infobit1{	
	.dimensions(auto, 50%);	
}

#infobit2{	
	.dimensions(auto, 50%);		
}

#neutron{		
	position: absolute;
	.dimensions(80px, 80px);
	margin-left: 50%;
	background-color: #496b69 * 1.2;
	.border-radius(50%);
	.border(solid, 15px, #496b69);
}

#u235{
	position: absolute;
	.dimensions(350px, 350px);
	margin-left: 43%;
	background-color: #49596b * 1.2;
	margin-top: 90px;
	.border-radius(50%);	
	.border(solid, 15px, #49596b);
}

#u236{
	position: absolute;
	.dimensions(350px, 350px);
	margin-left: 43%;
	background-color: #8560a8 * 1.2;
	margin-top: 90px;
	.border-radius(50%);	
	.border(solid, 15px, #8560a8);
}

#fission1{
	position: absolute;
	.dimensions(100px, 100px);
	margin-left: 40%;	
	margin-top: 750px;
	background-color: #004a80 * 1.2;
	.border-radius(50%);	
	.border(solid, 15px, #004a80);
}

#fission2{
	position: absolute;
	.dimensions(100px, 100px);
	margin-left: 55%;	
	margin-top: 750px;
	background-color: #004a80 * 1.2;
	.border-radius(50%);	
	.border(solid, 15px, #004a80);
}

#nfissionheader{
	.dimensions(auto, 550px);	
	margin-left: 7%;
	margin-top: 7%;
}

#chalkText3{	
	position: absolute;
	margin-left: 7%;
	.dimensions(auto, 25%);	
	.border(dotted, 5px, white);		
}

#chalkText4{	
	position: absolute;
	right: 7%;
	.dimensions(auto, 25%);	
	margin-top: 475px;
	.border(dotted, 5px, white);		
}

#chalkText5{	
	position: absolute;
	margin-left: 7%;
	.dimensions(auto, 25%);	
	margin-top: 800px;
	.border(dotted, 5px, white);	

}

#sec2{
	position: absolute;
	z-index: 1;
	.dimensions(@sec2height, 100%);	
	float: left;
	background-color:@baseblue * 0.3;
	margin-top: @sec1height;
	.marginFixSection();
	}


#einsteinletterquotewrp{
	.dimensions(auto, 75%);
	float: left;
}

#infobit3{
	.dimensions(auto, 25%);
	float: left;
	padding-top: 67px;
	background-color: @basecolor * 3;
}

#sec3{
	position: absolute;
	z-index: 1;
	.dimensions(@sec3height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height);
	background-color: @basegrey;
	.marginFixSection();

	.bread{
		font-family: @sansserif;
		font-size: @h1size * 0.17;
		display: none;

	}
}

#map{
	position: absolute;
	z-index: 1;
	.dimensions(1050px, 100%);	
	background-image:url('../pics/usmap.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#mheader{
	position: absolute;
	top: 25px;
	right: 45px;
	z-index: 2;
	.dimensions(auto, 35%);
	background-color: @basegrey * 0.7;
}

#richland{
	position: absolute;
	top:12%;
	left: 18%;
	z-index: 2;
	.dimensions(auto, 200px);
	background-color:@baseblue;

	.bread{
		background-color: @baseblue * 1.3;
		margin: -10px 0 -10px 0;
		padding:  10px 0 10px 0;
		.textPadding();
	}

	&:hover .bread{
		display: block;
	}
}

#alamos{
	position: absolute;
	top:46%;
	left: 34.5%;
	z-index: 2;
	.dimensions(auto, 200px);
	background-color:@baseblue;
	
	.bread{
		background-color: @baseblue * 1.3;
		margin: -10px 0 -10px 0;
		padding:  10px 0 10px 0;
		.textPadding();
	}

	&:hover .bread{
		display: block;
	}
}

#oakridge{
	position: absolute;
	top:43%;
	left: 53%;
	z-index: 2;
	.dimensions(auto, 200px);
	background-color:@baseblue;
	
	.bread{
		background-color: @baseblue * 1.3;
		margin: -10px 0 -10px 0;
		padding:  10px 0 10px 0;
		.textPadding();
	}

	&:hover .bread{
		display: block;
	}
}

#minfo1{
	position: absolute;
	top: 800px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 35%);
	background-color: @basegrey * 0.7;
	.border(solid, 5px, white);	
}

#sec4{
	position: absolute;
	z-index: 1;
	.dimensions(@sec4height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height);
	background-color:@basecolor;
	.marginFixSection();
}


#trinityPres{
	.dimensions(700px, 100%);	
	background-color:@basecolor;
}

#trinityHeader{
	margin-top: 500px;
}

#skybg{
	.dimensions(1000px, 100%);	
	float: left;
	background-color: #b0ccea;
	.marginFixSection();
}

#dawnbg{
	.dimensions(400px, 100%);	
	float: left;
	.gradient (@origin: top, @start: #b0ccea, @stop: #FE5B35);
	.marginFixSection();
}

#theader{
	position: absolute;
	top: 1200px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #b0ccea * 0.7;
}

#tower{
	position: absolute;	
	left: 650px;
	z-index: 2;
	.dimensions(1400px, 1000px);	
	background-image: url('../pics/tower.png');
	background-size: cover;
}

#bomb{
	position: absolute;	
	left: 983px;
	top: 1255px;
	z-index: 3;
	.dimensions(250px, 175px);	
	background-image: url('../pics/gadget.png');
	background-size: cover;
}

#clock{
	position: absolute;	
	top: 2365px;
	left: 150px;
	z-index: 2;
	.dimensions(250px, 300px);	
	background-image: url('../pics/clock.png');
	background-size: cover;	
}

#mountainbg{
	position: absolute;	
	top: 2365px;
	left: -60px;
	z-index: 1;
	.dimensions(200px, 100%);	
	float: left;
	background-image: url('../pics/bg.png');
	background-size: cover;
	.marginFixSection();
}
#groundbg{
	position: absolute;	
	top: 2550px;
	z-index: 1;
	.dimensions(100px, 100%);	
	float: left;
	background-color: #A97C50;
	.marginFixSection();
}

#trinityInfo1{
	position: absolute;
	top: 1500px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #b0ccea * 0.7;
		.border(solid, 5px, white);	

}

#trinityInfo2{
	position: absolute;
	top: 1715px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #b0ccea * 0.7;
		.border(solid, 5px, white);	

}

#whitebg{
	position: absolute;
	top: 2200px;	
	z-index: 4;
	.dimensions(1450px, 100%);
	background-image: url('../pics/trinity.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#oppenheimerWpr{
	margin-top: 500px;
	.dimensions(auto, 30%);

	.quote{
		text-align: left;
		margin-left: 7%;
	}

	.quotesmall{
		text-align: left;
		margin-left: 7%;
	}
}

#trinityInfo3{
	position: absolute;
	top:900px;
	left:2%;
	.dimensions(auto, 25%);
	background-color: @baseblue *0.3;
	.border(dashed, 5px, white);
}

#trinityInfo4{
	position: absolute;
	top:1050px;
	left:2%;
	.dimensions(auto, 25%);
	background-color: @baseblue *0.3;
	.border(solid, 5px, white);
}

#sec5{
	position: absolute;
	z-index: 1;
	.dimensions(@sec5height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height);
	.marginFixSection();
}

#hiroheaderwpr{
	position: absolute;
	top: 0px;	
	z-index: 2;
	.dimensions(1750px, 100%);
}

#hirobottom{
	position: absolute;
	top: 0px;	
	z-index: 3;
	.dimensions(1750px, 100%);
	background-image: url("../pics/ground.jpg");	
	background-size: cover;
	background-repeat: repeat-y;
}

/*#hirobottom2{
	position: absolute;
	top: 1050px;	
	z-index: 3;
	.dimensions(1050px, 100%);
	background-image: url("../pics/ground.jpg");	
	background-size: cover;
	.mirror(-1);
}*/


#hiroheader{
	position: absolute;
	top: 0px;	
	left:2%;
	z-index: 3;
	.dimensions(auto, 25%);
	background-color: #42413F * 0.7;
}

#plane{
	position: absolute;
	top: 500px;	
	left: 65%;
	z-index: 5;
	.dimensions(450px, 35%);
	background-image: url('../pics/b29.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#plane2{
	position: absolute;
	top: 700px;	
	left: 15%;
	z-index: 3;
	.dimensions(350px, 25%);
	background-image: url('../pics/b29.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#plane3{
	position: absolute;
	top: 425px;	
	left: 30%;
	z-index: 6;
	.dimensions(550px, 45%);
	background-image: url('../pics/b29.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#cloud{
	position: absolute;
	top: 225px;	
	left: 10%;
	z-index: 7;
	.dimensions(250px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
	.rotate(180deg);
}

#cloud2{
	position: absolute;
	top: 365px;	
	left: 65%;
	z-index: 5;
	.dimensions(350px, 20%);	
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
}

#cloud3{
	position: absolute;
	top:500px;	
	left: 39%;
	z-index: 7;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud3.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#cloud4{
	position: absolute;
	top:680px;	
	left: 5%;
	z-index: 7;
	.dimensions(450px, 15%);
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(60deg);
}

#cloud5{
	position: absolute;
	top:975px;	
	left: 60%;
	z-index: 4;
	.dimensions(425px, 18%);
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
	.rotate(0deg);
}

#cloud6{
	position: absolute;
	top:600px;	
	left: 42%;
	z-index: 5;
	.dimensions(350px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
	.rotate(180deg);
}

#cloud7{
	position: absolute;
	top:800px;	
	left: 11%;
	z-index: 7;
	.dimensions(350px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
	.rotate(190deg);
}

#cloud8{
	position: absolute;
	top: 315px;	
	left: 67%;
	z-index: 5;
	.dimensions(350px, 20%);	
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(50deg);
}

#cloud9{
	position: absolute;
	top:1305px;	
	left: 61%;
	z-index: 7;
	.dimensions(450px, 15%);
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(120deg);
}

#cloud10{
	position: absolute;
	top:1325px;	
	left: 66%;
	z-index: 7;
	.dimensions(350px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
	.rotate(190deg);
}

#cloud11{
	position: absolute;
	top:1100px;	
	left: 29%;
	z-index: 7;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud3.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(180deg);
}

#cloud12{
	position: absolute;
	top: 1365px;	
	left: 11%;
	z-index: 5;
	.dimensions(350px, 20%);	
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.5;
}

#fatmantop{
	position: absolute;
	top:975px;	
	left: 46%;
	z-index: 6;
	.dimensions(70px, 70px);
	background-image: url('../pics/fatman.png');
	background-size: cover;
	.rotate(45deg);
}

#hiroinfo1{
	position: absolute;
	top:350px;
	left:2%;
	z-index: 8;
	.dimensions(auto, 25%);
	background-color: #42413F * 0.7;
	.border(solid, 5px, white);
}

#hiroinfo2{
	position: absolute;
	top:825px;
	left:2%;
	z-index: 8;
	.dimensions(auto, 25%);
	background-color: #42413F * 0.7;
	.border(solid, 5px, white);
}

#hiroinfo3{
	position: absolute;
	top:1125px;
	left:2%;
	z-index: 8;
	.dimensions(auto, 25%);
	background-color: #42413F * 0.7;
	.border(solid, 5px, white);
}

#hiroaftermath{
	position: absolute;
	top:1750px;
	.dimensions(1000px, 100%);
	background-image: url("../pics/hiroafter.jpg");	
	background-size: cover;
}

#hiroinfo4{
	position: absolute;
	top:125px;
	left:2%;
	z-index: 8;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);
}

#hiroinfo5{
	position: absolute;
	top:575px;
	left:2%;
	z-index: 8;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
	background-color: @baseblue *0.3;
}
#nagasaki{
	position: absolute;
	top:calc(1750px + 1000px);
	.dimensions(750px, 100%);
	background-image: url("../pics/clouds.jpg");	
	background-size: cover;
}

#nagainfo1{
	position: absolute;
	top:125px;
	left:2%;
	z-index: 8;
	background-color: #59595B * 0.7;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
}

#nagainfo2{
	position: absolute;
	top:400px;
	left:2%;
	z-index: 8;
	background-color: #59595B * 0.7;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
}

#nagaaftermath{
	position: absolute;
	top:3500px;
	.dimensions(1200px, 100%);
	background-image: url("../pics/nagaafter.jpeg");	
	background-size: cover;
}

#nagainfo3{
	position: absolute;
	top:100px;
	left:70%;
	z-index: 8;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);
	background-color: #25201A * 0.7;
}

#nagainfo4{
	position: absolute;
	top:750px;
	left:2%;
	z-index: 8;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
	background-color: #25201A * 0.7;
}

#sec6{
	position: absolute;
	z-index: 1;
	.dimensions(@sec6height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height);
	.marginFixSection();
}

#risingheader{
	position: absolute;
	top: 0px;	
	left:2%;
	z-index: 1;
	.dimensions(auto, 25%);
	background-color: #42413F * 0.7;
}

#crossroads{
	position: absolute;
	top:0px;
	.dimensions(1000px,100%);
	background-image: url("../pics/crossroads.jpg");	
	background-size: cover;
}

#crossroadsinfo{
	position: absolute;
	top:700px;
	left:7%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);
	background-color: #595959 * 0.7;

}

#rising{
	position: absolute;
	top:0px;
	right:0;
	.dimensions(auto, 25%);
}

#risinginfo1{
	position: absolute;
	top:100px;
	right:7%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
	background-color: #595959 * 0.7;
}

#risinginfo2{
	position: absolute;
	top:350px;
	right:7%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
	background-color: #595959 * 0.7;
}

#risinginfo3{
	position: absolute;
	top:650px;
	right:7%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
	background-color: #595959 * 0.7;
}


#einsteinquote{
	position: absolute;
	top:1000px;
	.dimensions(285px,100%);
	background-color: white;

	.quote{
		.dimensions(auto,75%);
		.positionCenter();
		color:black;
	}

	.quotesmall{
		color:black;
	}
}

#commie{
	position: absolute;
	top:1285px;
	.dimensions(200px,100%);
	z-index: 0;
	background-color: #595959;
}

#risinginfo4{
	position: absolute;
	right:40%;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #595959 * 0.7;
}

#risinginfo5{
	position: absolute;
	right:7%;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #595959 * 0.7;
}

#sec7{
	position: absolute;
	z-index: 1;
	.dimensions(@sec7height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height);
	.marginFixSection();
}

#armsheader{
	position: absolute;
	top: 0px;	
	left:2%;
	z-index: 1;
	.dimensions(auto, 25%);
	background-color: #022648 * 0.7;
}

#arms{
	position: absolute;
	.dimensions(1100px, 100%);
	background-image: url("../pics/ivy.jpg");	
	background-size: cover;
}

#ivyinfo1{
	position: absolute;
	top:175px;
	right:5%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);
}

#ivyinfo2{
	position: absolute;
	top:250px;
	left:2%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
}

#ivyinfo3{
	position: absolute;
	top:475px;
	left:2%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
}

#ivyinfo4{
	position: absolute;
	top:725px;
	right:2%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);
}

#cbravo{
	position: absolute;
	top:1100px;
	.dimensions(1100px, 50%);
	background-image: url("../pics/cbravo.jpg");	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#cbravoinfo1{
	position: absolute;
	top:1975px;
	left:2%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);
}

#cbravo1{
	position: absolute;
	top:1100px;
	right:0;
	.dimensions(550px, 50%);
	background-image: url("../pics/romeo.jpg");	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#cbravoinfo2{
	position: absolute;
	top:1525px;
	right:23%;
	z-index: 1;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);
}

#cbravoinfo3{
	position: absolute;
	top:1725px;
	right:13%;
	z-index: 1;
	.dimensions(auto, 35%);
	.border(solid, 5px, white);

}

#cbravoinfo4{
	position: absolute;
	top:1925px;
	right:13%;
	z-index: 1;
	.dimensions(auto, 35%);
	.border(solid, 5px, white);
}

#sec8{
	position: absolute;
	z-index: 1;
	.dimensions(@sec8height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height + @sec7height);
	.marginFixSection();
	background-color: #CC0001;

	img{
		position: absolute;
		left: 7%;
		.dimensions(375px, 375px);
	}
}

#sovietheader{
	position: absolute;
	top: 0px;	
	right:5%;
	z-index: 1;
	.dimensions(auto, 35%);
	background-color: #CC0001 * 0.7;	
}

#sovietinfo1{
	position: absolute;
	top:250px;
	right:5%;
	z-index: 1;
	.dimensions(auto, 35%);
	.border(solid, 5px, white);	
	background-color: #CC0001 * 0.7;	
}

#sovietinfo2{
	position: absolute;
	top:400px;
	right:5%;
	z-index: 1;
	.dimensions(auto, 35%);
	.border(solid, 5px, white);	
	background-color: #CC0001 * 0.7;	
}

#sovietinfo3{
	position: absolute;
	top:575px;
	left:5%;
	z-index: 1;
	.dimensions(auto, 35%);
	.border(solid, 5px, white);	
	background-color: #CC0001 * 0.7;	
}

#soviettimeline{
	position: absolute;
	top:575px;
	right:5%;
	z-index: 1;
	.dimensions(150px, 35%);
	.border(solid, 5px, white);	
	background-color: #CC0001 * 0.7;	

}

#sovietinfo4{
	position: absolute;
	top:750px;
	left:5%;
	z-index: 1;
	.dimensions(auto, 35%);
	.border(solid, 5px, white);	
	background-color: #CC0001 * 0.7;	
}

#sec9{
	position: absolute;
	z-index: 1;
	.dimensions(@sec9height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height + @sec7height + @sec8height);
	.marginFixSection();
	background-color: #607B8B;		
}

#tsarheader{
	position: absolute;
	top: 0px;	
	left:5%;
	z-index: 1;
	.dimensions(auto, 25%);
	background-color: #607B8B * 0.7;	
}

#tsarinfo1{
	position: absolute;
	top:200px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
	background-color: #607B8B * 0.7;	
}


#tu95{
	position: absolute;
	top: 80px;	
	left: 0;
	z-index: 0;
	.dimensions(500px, 41%);
	background-image: url('../pics/tu95.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#tsarbomba{
	position: absolute;
	top: 200px;	
	left: 23%;
	z-index: -1;
	.dimensions(175px, 10%);
	background-image: url('../pics/tsarbomba.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#cloudtsar1{
	position: absolute;
	top:175px;	
	left: 15%;
	z-index: 3;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud3.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(90deg);
}

#cloudtsar2{
	position: absolute;
	top:275px;	
	right: 20%;
	z-index: 3;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(90deg);
}

#cloudtsar3{
	position: absolute;
	top:675px;	
	left: 40%;
	z-index: 3;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#cloudtsar4{
	position: absolute;
	top:-75px;	
	right: 20%;
	z-index: 3;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud3.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(-90deg);
}

#cloudtsar5{
	position: absolute;
	top:675px;	
	right: 20%;
	z-index: 3;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud3.png');
	background-size: contain;
	background-repeat: no-repeat;
	.rotate(-90deg);
}

#fireball{
	position: absolute;
	top: 750px;	
	left:15%;
	z-index: 1;
	.dimensions(300px, 300px);
	background-color: #FFD700;		
	.border-radius(50%);
}

#tsarground{
	position: absolute;
	top: 1250px;	
	z-index: 1;
	.dimensions(150px, 100%);
	background-color: #8B7765;	
	.marginFixSection();
}

#tsarmountains{
	position: absolute;
	top:1225px;	
	right:0;
	z-index: 3;
	.dimensions(133px, 400px);
	background-image: url('../pics/bg2.png');
	background-size: cover;
}

#tsarbg1{
	position: absolute;
	top: 1400px;	
	z-index: 1;
	.dimensions(625px, 100%);
	background-image: url('../pics/walltexture.jpg');
	background-size: cover;
	.marginFixSection();
    border-top: 35px solid @basegrey;

}

#tsarinfo2{
	position: absolute;
	top:1465px;
	right:40%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
	background-color: @basegrey * 0.7;	
}

#tsarinfo3{
	position: absolute;
	top:1465px;
	right:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
	background-color: @basegrey * 0.7;	
}

#tsarinfo4{
	position: absolute;
	top:1715px;
	right:40%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
	background-color: @basegrey * 0.7;	
}

#kennedynik{
	position: absolute;
	top:1950px;
	right:0;
	.dimensions(550px, 100%);
	background-image: url("../pics/kennedynik.jpg");	
	background-size: cover;
}

#keninfo1{
	position: absolute;
	top:2100px;
	right:40%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
	background-color: @basegrey * 0.7;	
}

#keninfo2{
	position: absolute;
	top:2400px;
	right:40%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);	
}

#kennedyquote{
	position: absolute;
	top:2550px;
	right:0;
	.dimensions(400px, 100%);
	background-color: black;
}


#sec10{
	position: absolute;
	z-index: 0;
	.dimensions(@sec10height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height + @sec7height + @sec8height + @sec9height);
	.marginFixSection();
}	

#timelineheader{
	position: absolute;
	top: 950px;	
	left:5%;
	z-index: 1;
	.dimensions(auto, 25%);
	background-color: @baseblue * 0.7;
}


#timelinebg{
	position: absolute;
	top:950px;
	right:0;
	.dimensions(2500px, 100%);
	background-image: url("../pics/timelinetex.jpg");	
	background-size: cover;
}

#timelineinfo1{
	position: absolute;
	top:1150px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
}

#timelineinfo11{
	position: absolute;
	top:1100px;
	right:25%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dashed, 5px, white);	
}

#timelineinfo8{
	position: absolute;
	top:1350px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
}

#timelineinfo9{
	position: absolute;
	top:1575px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
}

#timelineinfo10{
	position: absolute;
	top:1800px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
}

#timelinetests{
	position: absolute;
	top:2000px;
	left:5%;
	.dimensions(800px, 25%);

	.info{
		font-weight: bold;
		font-size: @h1size * 0.2;
		.border(dotted, 2px, white);	
	}
}

#forties{
	position: absolute;	
	.dimensions(14.29%, 1%);
	background-color: @basegrey * 1.3;
}

#fortiesnum{
	position: absolute;	
	left:65%;
	.dimensions(14.29%, 35%);
}

#fifties{
	position: absolute;	
	top:14.29%;
	.dimensions(14.29%, 41%);
	background-color: @basegrey;
}

#fiftiesnum{
	position: absolute;	
	top:14.29%;
	left:65%;
	.dimensions(14.29%, 35%);
}

#sixties{
	position: absolute;	
	top:calc(14.29% * 2);
	.dimensions(14.29%, 100%);
	background-color: @basegrey * 0.7;
}

#sixtiesnum{
	position: absolute;	
	top:calc(14.29% * 2);
	left:65%;
	.dimensions(14.29%, 35%);
}

#seventies{
	position: absolute;	
	top:calc(14.29% * 3);
	.dimensions(14.29%, 78%);
	background-color: @basegrey * 0.5;
}

#seventiesnum{
	position: absolute;	
	top:calc(14.29% * 3);
	left:65%;
	.dimensions(14.29%, 35%);
}

#eighties{
	position: absolute;	
	top:calc(14.29% * 4);
	.dimensions(14.29%, 62%);
	background-color: @basegrey * 0.3;
}

#eightiesnum{
	position: absolute;	
	top:calc(14.29% * 4);
	left:65%;
	.dimensions(14.29%, 35%);
}

#nineties{
	position: absolute;	
	top:calc(14.29% * 5);
	.dimensions(14.29%, 9%);
	background-color: @basegrey * 0.1;
}

#ninetiesnum{
	position: absolute;	
	top:calc(14.29% * 5);
	left:65%;
	.dimensions(14.29%, 35%);
}

#zeros{
	position: absolute;	
	top:calc(14.29% * 6);
	.dimensions(14.29%, 0.4%);
	background-color: black;	
}

#zerosnum{
	position: absolute;	
	top:calc(14.29% * 6);
	left:65%;
	.dimensions(14.29%, 35%);
}


#timelineinfo2{
	position: absolute;
	top:1350px;
	right:10%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dotted, 5px, white);	
	background-color: @baseblue * 0.7;	
}

#flag1{
	position: absolute;
	top:1350px;
	right:45%;
	.dimensions(175px, 175px);
	background-image: url("../pics/gb.png");
	background-size: cover;	
	background-position: center;
	.border-radius(50%);
	.border(solid, 12px, @baseblue * 0.7);	

}

#timelineinfo3{
	position: absolute;
	top:1600px;
	right:10%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dotted, 5px, white);	
	background-color: @baseblue * 0.7;	
}

#flag2{
	position: absolute;
	top:1600px;
	right:45%;
	.dimensions(175px, 175px);
	background-image: url("../pics/france.png");
	background-size: cover;	
	background-position: center;
	.border-radius(50%);
	.border(solid, 12px, @baseblue * 0.7);	

}

#timelineinfo4{
	position: absolute;
	top:1850px;
	right:10%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dotted, 5px, white);	
	background-color: @baseblue * 0.7;	
}

#flag3{
	position: absolute;
	top:1850px;
	right:45%;
	.dimensions(175px, 175px);
	background-image: url("../pics/china.png");
	background-size: cover;	
	background-position: 0;
	.border-radius(50%);
	.border(solid, 12px, @baseblue * 0.7);	

}

#timelineinfo5{
	position: absolute;
	top:2100px;
	right:10%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dotted, 5px, white);	
	background-color: @baseblue * 0.7;	
}

#flag4{
	position: absolute;
	top:2100px;
	right:45%;
	.dimensions(175px, 175px);
	background-image: url("../pics/india.png");
	background-size: cover;	
	background-position: center;
	.border-radius(50%);
	.border(solid, 12px, @baseblue * 0.7);		
}

#timelineinfo6{
	position: absolute;
	top:2350px;
	right:10%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dotted, 5px, white);	
	background-color: @baseblue * 0.7;	
}

#flag5{
	position: absolute;
	top:2350px;
	right:45%;
	.dimensions(175px, 175px);
	background-image: url("../pics/pakistan.png");
	background-size: cover;	
	background-position: 55%;
	.border-radius(50%);
	.border(solid, 12px, @baseblue * 0.7);		
}

#timelineinfo7{
	position: absolute;
	top:2600px;
	right:10%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(dotted, 5px, white);	
	background-color: @baseblue * 0.7;	
}

#flag6{
	position: absolute;
	top:2600px;
	right:45%;
	.dimensions(175px, 175px);
	background-image: url("../pics/nk.png");
	background-size: cover;	
	background-position: 30%;
	.border-radius(50%);
	.border(solid, 12px, @baseblue * 0.7);	
}

#timelineinfo12{
	position: absolute;
	top:2925px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
}

#timelineinfo13{
	position: absolute;
	top:3125px;
	left:5%;
	z-index: 4;
	.dimensions(auto, 25%);
	.border(solid, 5px, white);	
}

#footer{
	position: absolute;
	z-index: 0;
	.dimensions(@contactheight, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height +  @sec5height + @sec6height + @sec7height + @sec8height + @sec9height + @sec10height);
	.marginFixSection();
	background-color: black;
}

#about{
	position: absolute;
	z-index: 0;
	top:25px;
	left:5%;
	.dimensions(auto, 35%);	
}


#contactform{
	position: absolute;
	z-index: 0;
	top:25px;
	left:50%;
	.dimensions(auto, 50%);	
}

#contactform input, #contactform textarea {
	padding: 5px;
	width: 471px;
	margin: 0px 0px 10px 0px;
	.border(solid, 2px, black);	
	background-color: @basegrey * 0.5;
	color:white;
}

#contactform textarea {
	height: 90px;
}

#contactform textarea:focus, #contactform input:focus {
	.border(solid, 2px, @baseblue);	
}

#contactform input.submit-button {
	width: 100px;
	float: left;
	margin-left: 165px;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
	color:white;
}