
// --------------
// Variables
// --------------


// Fonts
@headerfont: Georgia;
@sansserif: Arial;
@paragraphfont: "Times New Roman";
@fontlinks:Arial;
@chalkboardfont:'Delius Unicase', cursive;


@fontcolor: #fff;
@h1size: 5.5em;
@basecolor: #000;
@baseblue:#262d35;
@basegrey:#afb7b5;


@sec1height: 1750px;
@sec2height: 550px;
@sec3height: 1250px;
@sec4height: 3650px;
@sec5height: 1950px;


// ----------
// Mixins
// ----------

.sectionClass(@height, @backgroundcolor){
	width: 100%;
	height: @height;
	float: left;
	background-color: @backgroundcolor;
}

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}




.marginFix(){
	margin-top: -10px;
 	margin-left: -7px;
}

.marginFixSection(){
	padding-right: 18px;
	margin-left:-10px;
}

.textPadding(){
	padding-right: 25px;
	padding-left: 25px;
}

.border(@bordertype, @width, @color){
	border: @bordertype @width @color;
}

.dimensions(@height, @width){
	height: @height;
	width: @width;
}

.positionCenter(){
	margin-right: auto;
	margin-left: auto;
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

// ----------
// CSS
// ----------

body{
	background-color: @basecolor;
	overflow-x: hidden;
}

h1, {
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size;
}

h2{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.5;
}

h3{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.3;
	.textPadding();	
}

h4{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.2;
	.textPadding();	
}


.bread{
	font-family: @paragraphfont;
	color: @fontcolor;
	.textPadding()
}

.quote{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.5;	
	font-style: italic;	
	text-align: center;
}

.quotesmall{
	color:@fontcolor;
	font-family: @headerfont;
	font-size: @h1size *0.3;	
	font-style: italic;	
	text-align: center;	
}

#wrp{
	height: auto;
	width: 100%;
}

#top{
	position: absolute;
	z-index: 1;
	height: 45px;
	width: 100%;
	background-color: @baseblue * 0.5;
	.marginFix;
}

nav{
	float: right;
	margin-top: 10px;
	.textPadding;
	color: @fontcolor;
		a{
			color: @fontcolor;
			font-family: @fontlinks;
			font-weight: bold;
			text-decoration: none;
		}
}

header{
	position: absolute;
	margin-left: 12%;
	margin-top:7%; 
	z-index: 1;
	width: 525px;
	height: auto;		
	float: left;
	background-color: @baseblue *0.3;	
}

#title{	
	padding-right: 15px;
	padding-left: 25px;
	margin-top: -25px;
	float: left;	
}

#subtext{
	height: auto;
	width: 100%;
	float: left;
	margin-top: -25px;
	padding-bottom: 25px;
	p{
		.textPadding;
	}
}

#text1{
	position: absolute;
	z-index: 1;
	margin-left: 77%;
	margin-top: 32%;
	width: 250px;
	height: auto;
	background-color: @baseblue;
	.border(dashed, 5px, white);

}

.boxFooter{
	width: 100%;
	height: 20px;
	background-color: #352726;
}


#coloroverlay{
	width: 100%;
	height: 75%;
	.gradient(bottom, rgba(0, 0, 0, 0.0), #000);
	opacity: 0.8;
	position: absolute;
	z-index: 0;
	.marginFix;
}

#headvideo {
	position: absolute;
	z-index: -1;
	.marginFix;
 	height: auto;
 	width: 101.5%; 
 	float: left;
}







//Restart, Lets do this!!!!!

#cont{
	position: absolute;
	.dimensions(auto, 100%);		
	margin-top: 50%;
}

#sec1{
	position: absolute;
	z-index: 1;
	.dimensions(@sec1height, 100%);	
	float: left;
	background-image: url("../pics/chalkboard.jpg");	
	background-size: cover;
	/*margin-top: 50%;*/
	.marginFixSection();

	img{				
		position: absolute;
		.dimensions(300px, auto);
		.border(solid, 10px, #fff);	
		top: 25px;
		right: 45px;
		.rotate(-7deg);
	}
}

.chalkHeader{
	font-family: @chalkboardfont;
	.textPadding();
}

.chalkText{
	font-family: @chalkboardfont;
	color: white;
	.textPadding();
	margin-top: 15px;
}

#chalkHeader{	
	.dimensions(auto, 50%);		
}

#infobit1{	
	.dimensions(auto, 50%);	
}

#infobit2{	
	.dimensions(auto, 50%);		
}

#neutron{		
	position: absolute;
	.dimensions(80px, 80px);
	margin-left: 50%;
	background-color: #496b69 * 1.2;
	.border-radius(50%);
	.border(solid, 15px, #496b69);
}

#u235{
	position: absolute;
	.dimensions(350px, 350px);
	margin-left: 43%;
	background-color: #49596b * 1.2;
	margin-top: 90px;
	.border-radius(50%);	
	.border(solid, 15px, #49596b);
}

#u236{
	position: absolute;
	.dimensions(350px, 350px);
	margin-left: 43%;
	background-color: #8560a8 * 1.2;
	margin-top: 90px;
	.border-radius(50%);	
	.border(solid, 15px, #8560a8);
}

#fission1{
	position: absolute;
	.dimensions(100px, 100px);
	margin-left: 40%;	
	margin-top: 750px;
	background-color: #004a80 * 1.2;
	.border-radius(50%);	
	.border(solid, 15px, #004a80);
}

#fission2{
	position: absolute;
	.dimensions(100px, 100px);
	margin-left: 55%;	
	margin-top: 750px;
	background-color: #004a80 * 1.2;
	.border-radius(50%);	
	.border(solid, 15px, #004a80);
}

#nfissionheader{
	.dimensions(auto, 550px);	
	margin-left: 7%;
	margin-top: 7%;
}

#chalkText3{	
	position: absolute;
	margin-left: 7%;
	.dimensions(auto, 25%);		
}

#chalkText4{	
	position: absolute;
		right: 7%;
	.dimensions(auto, 25%);	
		margin-top: 475px;	
}

#chalkText5{	
	position: absolute;
		margin-left: 7%;
	.dimensions(auto, 25%);	
	margin-top: 800px;
}

#sec2{
	position: absolute;
	z-index: 1;
	.dimensions(@sec2height, 100%);	
	float: left;
	background-color:@baseblue * 0.3;
	margin-top: @sec1height;
	.marginFixSection();
	}


.info{
	font-family: @sansserif;
	font-size: @h1size * 0.22;
	color:@fontcolor;
	.textPadding();
}	

#einsteinletterquotewrp{
	.dimensions(auto, 75%);
	float: left;
}

#infobit3{
	.dimensions(auto, 25%);
	float: left;
	padding-top: 67px;
	background-color: @basecolor * 3;
}

#sec3{
	position: absolute;
	z-index: 1;
	.dimensions(@sec3height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height);
	background-color: @basegrey;
	.marginFixSection();

	.bread{
		font-family: @sansserif;
		font-size: @h1size * 0.17;
		display: none;

	}
}

#map{
	position: absolute;
	z-index: 1;
	.dimensions(1050px, 100%);	
	background-image:url('../pics/usmap.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#mheader{
	position: absolute;
	top: 25px;
	right: 45px;
	z-index: 2;
	.dimensions(auto, 35%);
	background-color: @basegrey * 0.7;
}

#richland{
	position: absolute;
	top:12%;
	left: 18%;
	z-index: 2;
	.dimensions(auto, 200px);
	background-color:@baseblue * 1.5;

	.bread{
		.gradient(bottom, @baseblue * 2.2, @baseblue * 1.5);
		margin: -10px 0 -10px 0;
		padding:  10px 0 10px 0;
		.textPadding();
	}

	&:hover .bread{
		display: block;
	}
}

#alamos{
	position: absolute;
	top:46%;
	left: 34.5%;
	z-index: 2;
	.dimensions(auto, 200px);
	background-color:@baseblue * 1.5;
	
	.bread{
		.gradient(bottom, @baseblue * 2.2, @baseblue * 1.5);
		margin: -10px 0 -10px 0;
		padding:  10px 0 10px 0;
		.textPadding();
	}

	&:hover .bread{
		display: block;
	}
}

#oakridge{
	position: absolute;
	top:43%;
	left: 53%;
	z-index: 2;
	.dimensions(auto, 200px);
	background-color:@baseblue * 1.5;
	
	.bread{
		.gradient(bottom, @baseblue * 2.2, @baseblue * 1.5);
		margin: -10px 0 -10px 0;
		padding:  10px 0 10px 0;
		.textPadding();
	}

	&:hover .bread{
		display: block;
	}
}

#minfo1{
	position: absolute;
	top: 800px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 35%);
	background-color: @basegrey * 0.7;
}

#sec4{
	position: absolute;
	z-index: 1;
	.dimensions(@sec4height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height);
	background-color:@basecolor;
	.marginFixSection();
}


#trinityPres{
	.dimensions(700px, 100%);	
	background-color:@basecolor;
}

#trinityHeader{
	margin-top: 500px;
}

#skybg{
	.dimensions(1000px, 100%);	
	float: left;
	background-color: #b0ccea;
	.marginFixSection();
}

#dawnbg{
	.dimensions(400px, 100%);	
	float: left;
	.gradient (@origin: top, @start: #b0ccea, @stop: #FE5B35);
	.marginFixSection();
}

#theader{
	position: absolute;
	top: 1200px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #b0ccea * 0.7;
}

#tower{
	position: absolute;	
	left: 650px;
	z-index: 2;
	.dimensions(1400px, 1000px);	
	background-image: url('../pics/tower.png');
	background-size: cover;
}

#bomb{
	position: absolute;	
	left: 983px;
	top: 1255px;
	z-index: 3;
	.dimensions(250px, 175px);	
	background-image: url('../pics/gadget.png');
	background-size: cover;
}

#clock{
	position: absolute;	
	top: 2365px;
	left: 150px;
	z-index: 2;
	.dimensions(250px, 300px);	
	background-image: url('../pics/clock.png');
	background-size: cover;	
}

#mountainbg{
	position: absolute;	
	top: 2365px;
	left: -60px;
	z-index: 1;
	.dimensions(200px, 100%);	
	float: left;
	background-image: url('../pics/bg.png');
	background-size: cover;
	.marginFixSection();
}
#groundbg{
	position: absolute;	
	top: 2550px;
	z-index: 1;
	.dimensions(100px, 100%);	
	float: left;
	background-color: #A97C50;
	.marginFixSection();
}

#trinityInfo1{
	position: absolute;
	top: 1500px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #b0ccea * 0.7;
}

#trinityInfo2{
	position: absolute;
	top: 1715px;
	left: 45px;
	z-index: 2;
	.dimensions(auto, 25%);
	background-color: #b0ccea * 0.7;
}

#whitebg{
	position: absolute;
	top: 2200px;	
	z-index: 4;
	.dimensions(1450px, 100%);
	background-image: url('../pics/trinity.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#oppenheimerWpr{
	margin-top: 500px;
	.dimensions(auto, 30%);

	.quote{
		text-align: left;
		margin-left: 7%;
	}

	.quotesmall{
		text-align: left;
		margin-left: 7%;
	}
}

#trinityInfo3{
	position: absolute;
	top:900px;
	left:2%;
	.dimensions(auto, 25%);
	background-color: @baseblue *0.3;
	.border(dashed, 5px, white);
}

#trinityInfo4{
	position: absolute;
	top:1050px;
	left:2%;
	.dimensions(auto, 25%);
	background-color: @baseblue *0.3;
	.border(solid, 5px, white);
}

#sec5{
	position: absolute;
	z-index: 1;
	.dimensions(@sec5height, 100%);	
	float: left;
	margin-top: calc(@sec1height + @sec2height + @sec3height + @sec4height);
	.marginFixSection();
}

#hiroheaderwpr{
	position: absolute;
	top: 0px;	
	z-index: 2;
	.dimensions(1950px, 100%);
}

#hirohbottom{
	position: absolute;
	top: 0px;	
	z-index: 3;
	.dimensions(1950px, 100%);
	background-color: @baseblue;
}

#hiroheader{
	position: absolute;
	top: 0px;	
	left:2%;
	z-index: 3;
	.dimensions(auto, 25%);
}

#plane{
	position: absolute;
	top: 500px;	
	left: 65%;
	z-index: 5;
	.dimensions(450px, 35%);
	background-image: url('../pics/b29.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#plane2{
	position: absolute;
	top: 700px;	
	left: 15%;
	z-index: 3;
	.dimensions(350px, 25%);
	background-image: url('../pics/b29.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#plane3{
	position: absolute;
	top: 425px;	
	left: 30%;
	z-index: 6;
	.dimensions(550px, 45%);
	background-image: url('../pics/b29.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#cloud{
	position: absolute;
	top: 225px;	
	left: 10%;
	z-index: 7;
	.dimensions(250px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.5;
	.rotate(180deg);
}

#cloud2{
	position: absolute;
	top: 365px;	
	left: 65%;
	z-index: 5;
	.dimensions(350px, 20%);	
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.3;
}

#cloud3{
	position: absolute;
	top:500px;	
	left: 39%;
	z-index: 7;
	.dimensions(500px, 12%);
	background-image: url('../pics/cloud3.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#cloud4{
	position: absolute;
	top:680px;	
	left: 5%;
	z-index: 7;
	.dimensions(450px, 15%);
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
	.rotate(60deg);
}

#cloud5{
	position: absolute;
	top:850px;	
	left: 67%;
	z-index: 4;
	.dimensions(425px, 18%);
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.3;
	.rotate(0deg);
}

#cloud6{
	position: absolute;
	top:600px;	
	left: 42%;
	z-index: 5;
	.dimensions(350px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.3;
	.rotate(180deg);
}

#cloud7{
	position: absolute;
	top:800px;	
	left: 11%;
	z-index: 7;
	.dimensions(350px, 15%);
	background-image: url('../pics/cloud1.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.3;
	.rotate(190deg);
}

#cloud8{
	position: absolute;
	top: 315px;	
	left: 67%;
	z-index: 5;
	.dimensions(350px, 20%);	
	background-image: url('../pics/cloud2.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.7;
	.rotate(50deg);
}

#fatmantop{
	position: absolute;
	top:975px;	
	left: 46%;
	z-index: 6;
	.dimensions(70px, 70px);
	background-image: url('../pics/fatman.png');
	background-size: cover;
	.rotate(45deg);
}