body {
  background-color: black;
  overflow-x: hidden;
}
h1 {
  color: white;
  font-family: Georgia;
  font-size: 5.5em;
}
h2 {
  color: white;
  font-family: Georgia;
  font-size: 2.75em;
}
h3 {
  color: white;
  font-family: Georgia;
  font-size: 1.65em;
  padding-right: 25px;
  padding-left: 25px;
}
h4 {
  color: white;
  font-family: Georgia;
  font-size: 1.1em;
  padding-right: 25px;
  padding-left: 25px;
}
.bread {
  font-family: "Times New Roman";
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
.quote {
  color: white;
  font-family: Georgia;
  font-size: 2.75em;
  font-style: italic;
  text-align: center;
}
.quotesmall {
  color: white;
  font-family: Georgia;
  font-size: 1.65em;
  font-style: italic;
  text-align: center;
}
#wrp {
  height: auto;
  width: 100%;
}
#top {
  position: absolute;
  z-index: 1;
  height: 45px;
  width: 100%;
  background-color: #13171b;
  margin-top: -10px;
  margin-left: -7px;
}
nav {
  float: right;
  margin-top: 10px;
  padding-right: 25px;
  padding-left: 25px;
  color: white;
}
nav a {
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}
header {
  position: absolute;
  margin-left: 12%;
  margin-top: 7%;
  z-index: 1;
  width: 525px;
  height: auto;
  float: left;
  background-color: #0b0e10;
}
#title {
  padding-right: 15px;
  padding-left: 25px;
  margin-top: -25px;
  float: left;
}
#subtext {
  height: auto;
  width: 100%;
  float: left;
  margin-top: -25px;
  padding-bottom: 25px;
}
#subtext p {
  padding-right: 25px;
  padding-left: 25px;
}
#text1 {
  position: absolute;
  z-index: 1;
  margin-left: 77%;
  margin-top: 32%;
  width: 250px;
  height: auto;
  background-color: #262d35;
}
.boxFooter {
  width: 100%;
  height: 20px;
  background-color: #352726;
}
#coloroverlay {
  width: 100%;
  height: 75%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, transparent, black);
  background-image: -moz-linear-gradient(bottom, transparent, black);
  background-image: -o-linear-gradient(bottom, transparent, black);
  background-image: -ms-linear-gradient(bottom, transparent, black);
  background-image: linear-gradient(bottom, transparent, black);
  opacity: 0.8;
  position: absolute;
  z-index: 0;
  margin-top: -10px;
  margin-left: -7px;
}
#headvideo {
  position: absolute;
  z-index: -1;
  margin-top: -10px;
  margin-left: -7px;
  height: auto;
  width: 101.5%;
  float: left;
}
#cont {
  position: absolute;
  height: auto;
  width: 100%;
  margin-top: 50%;
}
#sec1 {
  position: absolute;
  z-index: 1;
  height: 1750px;
  width: 100%;
  float: left;
  background-image: url("../pics/chalkboard.jpg");
  background-size: cover;
  /*margin-top: 50%;*/

  padding-right: 18px;
  margin-left: -10px;
}
#sec1 img {
  position: absolute;
  height: 300px;
  width: auto;
  border: solid 10px white;
  top: 25px;
  right: 45px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
.chalkHeader {
  font-family: 'Delius Unicase', cursive;
  padding-right: 25px;
  padding-left: 25px;
}
.chalkText {
  font-family: 'Delius Unicase', cursive;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 15px;
}
#chalkHeader {
  height: auto;
  width: 50%;
}
#infobit1 {
  height: auto;
  width: 50%;
}
#infobit2 {
  height: auto;
  width: 50%;
}
#neutron {
  position: absolute;
  height: 80px;
  width: 80px;
  margin-left: 50%;
  background-color: #58807e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #496b69;
}
#u235 {
  position: absolute;
  height: 350px;
  width: 350px;
  margin-left: 43%;
  background-color: #586b80;
  margin-top: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #49596b;
}
#u236 {
  position: absolute;
  height: 350px;
  width: 350px;
  margin-left: 43%;
  background-color: #a073ca;
  margin-top: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #8560a8;
}
#fission1 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 40%;
  margin-top: 750px;
  background-color: #00599a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #004a80;
}
#fission2 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 55%;
  margin-top: 750px;
  background-color: #00599a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #004a80;
}
#nfissionheader {
  height: auto;
  width: 550px;
  margin-left: 7%;
  margin-top: 7%;
}
#chalkText3 {
  position: absolute;
  margin-left: 7%;
  height: auto;
  width: 25%;
}
#chalkText4 {
  position: absolute;
  right: 7%;
  height: auto;
  width: 25%;
  margin-top: 475px;
}
#chalkText5 {
  position: absolute;
  margin-left: 7%;
  height: auto;
  width: 25%;
  margin-top: 800px;
}
#sec2 {
  position: absolute;
  z-index: 1;
  height: 550px;
  width: 100%;
  float: left;
  background-color: #0b0e10;
  margin-top: 1750px;
  padding-right: 18px;
  margin-left: -10px;
}
.info {
  font-family: Arial;
  font-size: 1.21em;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
#einsteinletterquotewrp {
  height: auto;
  width: 75%;
  float: left;
}
#infobit3 {
  height: auto;
  width: 25%;
  float: left;
  padding-top: 67px;
  background-color: black;
}
#sec3 {
  position: absolute;
  z-index: 1;
  height: 1250px;
  width: 100%;
  float: left;
  margin-top: calc(2300px);
  background-color: #afb7b5;
  padding-right: 18px;
  margin-left: -10px;
}
#sec3 .bread {
  font-family: Arial;
  font-size: 0.935em;
}
#map {
  position: absolute;
  z-index: 1;
  height: 1050px;
  width: 100%;
  background-image: url('../pics/usmap.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#mheader {
  position: absolute;
  top: 25px;
  right: 45px;
  z-index: 2;
  height: auto;
  width: 35%;
  background-color: #7a807f;
}
#richland {
  position: absolute;
  top: 12%;
  left: 18%;
  z-index: 2;
  height: auto;
  width: 200px;
  background-color: #0b0e10;
}
#alamos {
  position: absolute;
  top: 46%;
  left: 34.5%;
  z-index: 2;
  height: auto;
  width: 200px;
  background-color: #0b0e10;
}
#oakridge {
  position: absolute;
  top: 43%;
  left: 53%;
  z-index: 2;
  height: auto;
  width: 200px;
  background-color: #0b0e10;
}
#minfo1 {
  position: absolute;
  top: 800px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 35%;
  background-color: #7a807f;
}
#sec4 {
  position: absolute;
  z-index: 1;
  height: 1300px;
  width: 100%;
  float: left;
  margin-top: calc(3550px);
  background-color: black;
  padding-right: 18px;
  margin-left: -10px;
}
#trinityPres {
  height: 700px;
  width: 100%;
  background-color: black;
}
#trinityHeader {
  margin-top: 500px;
}
#skybg {
  height: 1000px;
  width: 100%;
  float: left;
  background-color: #b0ccea;
  padding-right: 18px;
  margin-left: -10px;
}
#dawnbg {
  height: 400px;
  width: 100%;
  float: left;
  background-color: #b0ccea;
  background-image: -webkit-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: -moz-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: -o-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: -ms-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: linear-gradient(top, #b0ccea, #fe5b35);
  padding-right: 18px;
  margin-left: -10px;
}
#theader {
  position: absolute;
  top: 1200px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #7b8fa4;
}
#tower {
  position: absolute;
  left: 650px;
  z-index: 2;
  height: 1400px;
  width: 1000px;
  background-image: url('../pics/tower.png');
  background-size: cover;
}
#bomb {
  position: absolute;
  left: 983px;
  top: 1255px;
  z-index: 3;
  height: 250px;
  width: 175px;
  background-image: url('../pics/gadget.png');
  background-size: cover;
}
#clock {
  position: absolute;
  top: 2365px;
  left: 150px;
  z-index: 2;
  height: 250px;
  width: 300px;
  background-image: url('../pics/clock.png');
  background-size: cover;
}
#mountainbg {
  position: absolute;
  top: 2365px;
  left: -60px;
  z-index: 1;
  height: 200px;
  width: 100%;
  float: left;
  background-image: url('../pics/bg.png');
  background-size: cover;
  padding-right: 18px;
  margin-left: -10px;
}
#groundbg {
  position: absolute;
  top: 2550px;
  z-index: 1;
  height: 100px;
  width: 100%;
  float: left;
  background-color: #a97c50;
  padding-right: 18px;
  margin-left: -10px;
}
#trinityInfo1 {
  position: absolute;
  top: 1500px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #7b8fa4;
}
#trinityInfo2 {
  position: absolute;
  top: 1715px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #7b8fa4;
}
