.info {
  font-family: Arial;
  font-size: 1.045em;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
.imagebyline {
  font-family: Verdana;
  font-size: 0.77em;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
body {
  background-color: black;
  overflow-x: hidden;
}
h1 {
  color: white;
  font-family: Georgia;
  font-size: 5.5em;
}
h2 {
  color: white;
  font-family: Georgia;
  font-size: 2.75em;
}
h3 {
  color: white;
  font-family: Georgia;
  font-size: 1.65em;
  padding-right: 25px;
  padding-left: 25px;
}
h4 {
  color: white;
  font-family: Georgia;
  font-size: 1.1em;
  padding-right: 25px;
  padding-left: 25px;
}
.bread {
  font-family: "Times New Roman";
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
.quote {
  color: white;
  font-family: Georgia;
  font-size: 2.75em;
  font-style: italic;
  text-align: center;
}
.quotesmall {
  color: white;
  font-family: Georgia;
  font-size: 1.65em;
  font-style: italic;
  text-align: center;
}
#wrp {
  height: auto;
  width: 100%;
}
#top {
  position: fixed;
  z-index: 10;
  height: 40px;
  width: 80%;
  background-color: #262d35;
  margin-left: -15px;
  margin-top: -10px;
  opacity: 0.8;
}
#menu {
  height: 40px;
  width: 100%;
  background-color: black;
}
nav {
  float: right;
  margin-top: 10px;
  padding-right: 25px;
  padding-left: 25px;
  color: white;
}
nav a {
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}
header {
  position: absolute;
  margin-left: 12%;
  margin-top: 7%;
  z-index: 1;
  width: 525px;
  height: auto;
  float: left;
  background-color: #0b0e10;
}
#title {
  padding-right: 15px;
  padding-left: 25px;
  margin-top: -25px;
  float: left;
}
#subtext {
  height: auto;
  width: 100%;
  float: left;
  margin-top: -25px;
  padding-bottom: 25px;
}
#subtext p {
  padding-right: 25px;
  padding-left: 25px;
}
#text1 {
  position: absolute;
  z-index: 1;
  margin-left: 77%;
  margin-top: 32%;
  width: 250px;
  height: auto;
  background-color: #262d35;
  border: dashed 5px white;
}
.boxFooter {
  width: 100%;
  height: 20px;
  background-color: #352726;
}
#coloroverlay {
  width: 100%;
  height: 75%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, transparent, black);
  background-image: -moz-linear-gradient(bottom, transparent, black);
  background-image: -o-linear-gradient(bottom, transparent, black);
  background-image: -ms-linear-gradient(bottom, transparent, black);
  background-image: linear-gradient(bottom, transparent, black);
  opacity: 0.8;
  position: absolute;
  z-index: 0;
  margin-top: -10px;
  margin-left: -7px;
}
#headvideo {
  position: absolute;
  z-index: -1;
  margin-top: -10px;
  margin-left: -7px;
  height: auto;
  width: 101.5%;
  float: left;
}
#cont {
  position: absolute;
  height: auto;
  width: 100%;
  margin-top: 50%;
}
#sec1 {
  position: absolute;
  z-index: 1;
  height: 1750px;
  width: 100%;
  float: left;
  background-image: url("../pics/chalkboard.jpg");
  background-size: cover;
  /*margin-top: 50%;*/

  padding-right: 18px;
  margin-left: -10px;
}
#sec1 img {
  position: absolute;
  height: 300px;
  width: auto;
  border: solid 10px white;
  top: 25px;
  right: 45px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
.chalkHeader {
  font-family: 'Delius Unicase', cursive;
  padding-right: 25px;
  padding-left: 25px;
}
.chalkText {
  font-family: 'Delius Unicase', cursive;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 15px;
}
#chalkHeader {
  height: auto;
  width: 50%;
}
#infobit1 {
  height: auto;
  width: 50%;
}
#infobit2 {
  height: auto;
  width: 50%;
}
#neutron {
  position: absolute;
  height: 80px;
  width: 80px;
  margin-left: 50%;
  background-color: #58807e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #496b69;
}
#u235 {
  position: absolute;
  height: 350px;
  width: 350px;
  margin-left: 43%;
  background-color: #586b80;
  margin-top: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #49596b;
}
#u236 {
  position: absolute;
  height: 350px;
  width: 350px;
  margin-left: 43%;
  background-color: #a073ca;
  margin-top: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #8560a8;
}
#fission1 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 40%;
  margin-top: 750px;
  background-color: #00599a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #004a80;
}
#fission2 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 55%;
  margin-top: 750px;
  background-color: #00599a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 15px #004a80;
}
#nfissionheader {
  height: auto;
  width: 550px;
  margin-left: 7%;
  margin-top: 7%;
}
#chalkText3 {
  position: absolute;
  margin-left: 7%;
  height: auto;
  width: 25%;
}
#chalkText4 {
  position: absolute;
  right: 7%;
  height: auto;
  width: 25%;
  margin-top: 475px;
}
#chalkText5 {
  position: absolute;
  margin-left: 7%;
  height: auto;
  width: 25%;
  margin-top: 800px;
}
#sec2 {
  position: absolute;
  z-index: 1;
  height: 550px;
  width: 100%;
  float: left;
  background-color: #0b0e10;
  margin-top: 1750px;
  padding-right: 18px;
  margin-left: -10px;
}
#einsteinletterquotewrp {
  height: auto;
  width: 75%;
  float: left;
}
#infobit3 {
  height: auto;
  width: 25%;
  float: left;
  padding-top: 67px;
  background-color: black;
}
#sec3 {
  position: absolute;
  z-index: 1;
  height: 1250px;
  width: 100%;
  float: left;
  margin-top: calc(2300px);
  background-color: #afb7b5;
  padding-right: 18px;
  margin-left: -10px;
}
#sec3 .bread {
  font-family: Arial;
  font-size: 0.935em;
  display: none;
}
#map {
  position: absolute;
  z-index: 1;
  height: 1050px;
  width: 100%;
  background-image: url('../pics/usmap.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#mheader {
  position: absolute;
  top: 25px;
  right: 45px;
  z-index: 2;
  height: auto;
  width: 35%;
  background-color: #7a807f;
}
#richland {
  position: absolute;
  top: 12%;
  left: 18%;
  z-index: 2;
  height: auto;
  width: 200px;
  background-color: #394450;
}
#richland .bread {
  background-color: #546375;
  background-image: -webkit-linear-gradient(bottom, #546375, #394450);
  background-image: -moz-linear-gradient(bottom, #546375, #394450);
  background-image: -o-linear-gradient(bottom, #546375, #394450);
  background-image: -ms-linear-gradient(bottom, #546375, #394450);
  background-image: linear-gradient(bottom, #546375, #394450);
  margin: -10px 0 -10px 0;
  padding: 10px 0 10px 0;
  padding-right: 25px;
  padding-left: 25px;
}
#richland:hover .bread {
  display: block;
}
#alamos {
  position: absolute;
  top: 46%;
  left: 34.5%;
  z-index: 2;
  height: auto;
  width: 200px;
  background-color: #394450;
}
#alamos .bread {
  background-color: #546375;
  background-image: -webkit-linear-gradient(bottom, #546375, #394450);
  background-image: -moz-linear-gradient(bottom, #546375, #394450);
  background-image: -o-linear-gradient(bottom, #546375, #394450);
  background-image: -ms-linear-gradient(bottom, #546375, #394450);
  background-image: linear-gradient(bottom, #546375, #394450);
  margin: -10px 0 -10px 0;
  padding: 10px 0 10px 0;
  padding-right: 25px;
  padding-left: 25px;
}
#alamos:hover .bread {
  display: block;
}
#oakridge {
  position: absolute;
  top: 43%;
  left: 53%;
  z-index: 2;
  height: auto;
  width: 200px;
  background-color: #394450;
}
#oakridge .bread {
  background-color: #546375;
  background-image: -webkit-linear-gradient(bottom, #546375, #394450);
  background-image: -moz-linear-gradient(bottom, #546375, #394450);
  background-image: -o-linear-gradient(bottom, #546375, #394450);
  background-image: -ms-linear-gradient(bottom, #546375, #394450);
  background-image: linear-gradient(bottom, #546375, #394450);
  margin: -10px 0 -10px 0;
  padding: 10px 0 10px 0;
  padding-right: 25px;
  padding-left: 25px;
}
#oakridge:hover .bread {
  display: block;
}
#minfo1 {
  position: absolute;
  top: 800px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 35%;
  background-color: #7a807f;
}
#sec4 {
  position: absolute;
  z-index: 1;
  height: 3650px;
  width: 100%;
  float: left;
  margin-top: calc(3550px);
  background-color: black;
  padding-right: 18px;
  margin-left: -10px;
}
#trinityPres {
  height: 700px;
  width: 100%;
  background-color: black;
}
#trinityHeader {
  margin-top: 500px;
}
#skybg {
  height: 1000px;
  width: 100%;
  float: left;
  background-color: #b0ccea;
  padding-right: 18px;
  margin-left: -10px;
}
#dawnbg {
  height: 400px;
  width: 100%;
  float: left;
  background-color: #b0ccea;
  background-image: -webkit-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: -moz-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: -o-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: -ms-linear-gradient(top, #b0ccea, #fe5b35);
  background-image: linear-gradient(top, #b0ccea, #fe5b35);
  padding-right: 18px;
  margin-left: -10px;
}
#theader {
  position: absolute;
  top: 1200px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #7b8fa4;
}
#tower {
  position: absolute;
  left: 650px;
  z-index: 2;
  height: 1400px;
  width: 1000px;
  background-image: url('../pics/tower.png');
  background-size: cover;
}
#bomb {
  position: absolute;
  left: 983px;
  top: 1255px;
  z-index: 3;
  height: 250px;
  width: 175px;
  background-image: url('../pics/gadget.png');
  background-size: cover;
}
#clock {
  position: absolute;
  top: 2365px;
  left: 150px;
  z-index: 2;
  height: 250px;
  width: 300px;
  background-image: url('../pics/clock.png');
  background-size: cover;
}
#mountainbg {
  position: absolute;
  top: 2365px;
  left: -60px;
  z-index: 1;
  height: 200px;
  width: 100%;
  float: left;
  background-image: url('../pics/bg.png');
  background-size: cover;
  padding-right: 18px;
  margin-left: -10px;
}
#groundbg {
  position: absolute;
  top: 2550px;
  z-index: 1;
  height: 100px;
  width: 100%;
  float: left;
  background-color: #a97c50;
  padding-right: 18px;
  margin-left: -10px;
}
#trinityInfo1 {
  position: absolute;
  top: 1500px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #7b8fa4;
}
#trinityInfo2 {
  position: absolute;
  top: 1715px;
  left: 45px;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #7b8fa4;
}
#whitebg {
  position: absolute;
  top: 2200px;
  z-index: 4;
  height: 1450px;
  width: 100%;
  background-image: url('../pics/trinity.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#oppenheimerWpr {
  margin-top: 500px;
  height: auto;
  width: 30%;
}
#oppenheimerWpr .quote {
  text-align: left;
  margin-left: 7%;
}
#oppenheimerWpr .quotesmall {
  text-align: left;
  margin-left: 7%;
}
#trinityInfo3 {
  position: absolute;
  top: 900px;
  left: 2%;
  height: auto;
  width: 25%;
  background-color: #0b0e10;
  border: dashed 5px white;
}
#trinityInfo4 {
  position: absolute;
  top: 1050px;
  left: 2%;
  height: auto;
  width: 25%;
  background-color: #0b0e10;
  border: solid 5px white;
}
#sec5 {
  position: absolute;
  z-index: 1;
  height: 4700px;
  width: 100%;
  float: left;
  margin-top: calc(7200px);
  padding-right: 18px;
  margin-left: -10px;
}
#hiroheaderwpr {
  position: absolute;
  top: 0px;
  z-index: 2;
  height: 1750px;
  width: 100%;
}
#hirobottom {
  position: absolute;
  top: 0px;
  z-index: 3;
  height: 1750px;
  width: 100%;
  background-image: url("../pics/ground.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}
/*#hirobottom2{
	position: absolute;
	top: 1050px;	
	z-index: 3;
	.dimensions(1050px, 100%);
	background-image: url("../pics/ground.jpg");	
	background-size: cover;
	.mirror(-1);
}*/

#hiroheader {
  position: absolute;
  top: 0px;
  left: 2%;
  z-index: 3;
  height: auto;
  width: 25%;
  background-color: #2e2e2c;
}
#plane {
  position: absolute;
  top: 500px;
  left: 65%;
  z-index: 5;
  height: 450px;
  width: 35%;
  background-image: url('../pics/b29.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#plane2 {
  position: absolute;
  top: 700px;
  left: 15%;
  z-index: 3;
  height: 350px;
  width: 25%;
  background-image: url('../pics/b29.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#plane3 {
  position: absolute;
  top: 425px;
  left: 30%;
  z-index: 6;
  height: 550px;
  width: 45%;
  background-image: url('../pics/b29.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#cloud {
  position: absolute;
  top: 225px;
  left: 10%;
  z-index: 7;
  height: 250px;
  width: 15%;
  background-image: url('../pics/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#cloud2 {
  position: absolute;
  top: 365px;
  left: 65%;
  z-index: 5;
  height: 350px;
  width: 20%;
  background-image: url('../pics/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}
#cloud3 {
  position: absolute;
  top: 500px;
  left: 39%;
  z-index: 7;
  height: 500px;
  width: 12%;
  background-image: url('../pics/cloud3.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#cloud4 {
  position: absolute;
  top: 680px;
  left: 5%;
  z-index: 7;
  height: 450px;
  width: 15%;
  background-image: url('../pics/cloud2.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
#cloud5 {
  position: absolute;
  top: 975px;
  left: 60%;
  z-index: 4;
  height: 425px;
  width: 18%;
  background-image: url('../pics/cloud2.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
#cloud6 {
  position: absolute;
  top: 600px;
  left: 42%;
  z-index: 5;
  height: 350px;
  width: 15%;
  background-image: url('../pics/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#cloud7 {
  position: absolute;
  top: 800px;
  left: 11%;
  z-index: 7;
  height: 350px;
  width: 15%;
  background-image: url('../pics/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transform: rotate(190deg);
  -moz-transform: rotate(190deg);
  -ms-transform: rotate(190deg);
  -o-transform: rotate(190deg);
}
#cloud8 {
  position: absolute;
  top: 315px;
  left: 67%;
  z-index: 5;
  height: 350px;
  width: 20%;
  background-image: url('../pics/cloud2.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}
#cloud9 {
  position: absolute;
  top: 1305px;
  left: 61%;
  z-index: 7;
  height: 450px;
  width: 15%;
  background-image: url('../pics/cloud2.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
#cloud10 {
  position: absolute;
  top: 1325px;
  left: 66%;
  z-index: 7;
  height: 350px;
  width: 15%;
  background-image: url('../pics/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transform: rotate(190deg);
  -moz-transform: rotate(190deg);
  -ms-transform: rotate(190deg);
  -o-transform: rotate(190deg);
}
#cloud11 {
  position: absolute;
  top: 1100px;
  left: 29%;
  z-index: 7;
  height: 500px;
  width: 12%;
  background-image: url('../pics/cloud3.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#cloud12 {
  position: absolute;
  top: 1365px;
  left: 11%;
  z-index: 5;
  height: 350px;
  width: 20%;
  background-image: url('../pics/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#fatmantop {
  position: absolute;
  top: 975px;
  left: 46%;
  z-index: 6;
  height: 70px;
  width: 70px;
  background-image: url('../pics/fatman.png');
  background-size: cover;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#hiroinfo1 {
  position: absolute;
  top: 350px;
  left: 2%;
  z-index: 8;
  height: auto;
  width: 25%;
  background-color: #2e2e2c;
  border: solid 5px white;
}
#hiroinfo2 {
  position: absolute;
  top: 825px;
  left: 2%;
  z-index: 8;
  height: auto;
  width: 25%;
  background-color: #2e2e2c;
  border: solid 5px white;
}
#hiroinfo3 {
  position: absolute;
  top: 1125px;
  left: 2%;
  z-index: 8;
  height: auto;
  width: 25%;
  background-color: #2e2e2c;
  border: solid 5px white;
}
#hiroaftermath {
  position: absolute;
  top: 1750px;
  height: 1000px;
  width: 100%;
  background-image: url("../pics/hiroafter.jpg");
  background-size: cover;
}
#hiroinfo4 {
  position: absolute;
  top: 125px;
  left: 2%;
  z-index: 8;
  height: auto;
  width: 25%;
  border: dashed 5px white;
}
#hiroinfo5 {
  position: absolute;
  top: 575px;
  left: 2%;
  z-index: 8;
  height: auto;
  width: 25%;
  border: solid 5px white;
  background-color: #0b0e10;
}
#nagasaki {
  position: absolute;
  top: calc(2750px);
  height: 750px;
  width: 100%;
  background-image: url("../pics/clouds.jpg");
  background-size: cover;
}
#nagainfo1 {
  position: absolute;
  top: 125px;
  left: 2%;
  z-index: 8;
  background-color: #3e3e40;
  height: auto;
  width: 25%;
  border: solid 5px white;
}
#nagainfo2 {
  position: absolute;
  top: 400px;
  left: 2%;
  z-index: 8;
  background-color: #3e3e40;
  height: auto;
  width: 25%;
  border: solid 5px white;
}
#nagaaftermath {
  position: absolute;
  top: 3500px;
  height: 1200px;
  width: 100%;
  background-image: url("../pics/nagaafter.jpeg");
  background-size: cover;
}
#nagainfo3 {
  position: absolute;
  top: 100px;
  left: 70%;
  z-index: 8;
  height: auto;
  width: 25%;
  border: dashed 5px white;
  background-color: #1a1612;
}
#nagainfo4 {
  position: absolute;
  top: 750px;
  left: 2%;
  z-index: 8;
  height: auto;
  width: 25%;
  border: solid 5px white;
  background-color: #1a1612;
}
#sec6 {
  position: absolute;
  z-index: 1;
  height: 1585px;
  width: 100%;
  float: left;
  margin-top: calc(11900px);
  padding-right: 18px;
  margin-left: -10px;
}
#risingheader {
  position: absolute;
  top: 0px;
  left: 2%;
  z-index: 1;
  height: auto;
  width: 25%;
  background-color: #2e2e2c;
}
#crossroads {
  position: absolute;
  top: 0px;
  height: 1000px;
  width: 100%;
  background-image: url("../pics/crossroads.jpg");
  background-size: cover;
}
#crossroadsinfo {
  position: absolute;
  top: 700px;
  left: 7%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: dashed 5px white;
  background-color: #3e3e3e;
}
#rising {
  position: absolute;
  top: 0px;
  right: 0;
  height: auto;
  width: 25%;
}
#risinginfo1 {
  position: absolute;
  top: 100px;
  right: 7%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: solid 5px white;
  background-color: #3e3e3e;
}
#risinginfo2 {
  position: absolute;
  top: 350px;
  right: 7%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: solid 5px white;
  background-color: #3e3e3e;
}
#risinginfo3 {
  position: absolute;
  top: 650px;
  right: 7%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: solid 5px white;
  background-color: #3e3e3e;
}
#einsteinquote {
  position: absolute;
  top: 1000px;
  height: 285px;
  width: 100%;
  background-color: white;
}
#einsteinquote .quote {
  height: auto;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  color: black;
}
#einsteinquote .quotesmall {
  color: black;
}
#commie {
  position: absolute;
  top: 1285px;
  height: 300px;
  width: 100%;
  z-index: 0;
  background-color: #cc0001;
}
#commie img {
  position: absolute;
  top: 20px;
  left: 3%;
  opacity: 0.5;
}
#risinginfo4 {
  position: absolute;
  right: 40%;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #8f0001;
}
#risinginfo5 {
  position: absolute;
  right: 7%;
  z-index: 2;
  height: auto;
  width: 25%;
  background-color: #8f0001;
}
#sec7 {
  position: absolute;
  z-index: 1;
  height: 2200px;
  width: 100%;
  float: left;
  margin-top: calc(13485px);
  padding-right: 18px;
  margin-left: -10px;
}
#armsheader {
  position: absolute;
  top: 0px;
  left: 2%;
  z-index: 1;
  height: auto;
  width: 25%;
  background-color: #011b32;
}
#arms {
  position: absolute;
  height: 1100px;
  width: 100%;
  background-image: url("../pics/ivy.jpg");
  background-size: cover;
}
#ivyinfo1 {
  position: absolute;
  top: 175px;
  right: 5%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: dashed 5px white;
}
#ivyinfo2 {
  position: absolute;
  top: 250px;
  left: 2%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: solid 5px white;
}
#ivyinfo3 {
  position: absolute;
  top: 475px;
  left: 2%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: solid 5px white;
}
#ivyinfo4 {
  position: absolute;
  top: 725px;
  right: 2%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: solid 5px white;
}
#cbravo {
  position: absolute;
  top: 1100px;
  height: 1100px;
  width: 50%;
  background-image: url("../pics/cbravo.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#cbravoinfo1 {
  position: absolute;
  top: 1975px;
  left: 2%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: dashed 5px white;
}
#cbravo1 {
  position: absolute;
  top: 1100px;
  right: 0;
  height: 550px;
  width: 50%;
  background-image: url("../pics/romeo.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#cbravoinfo2 {
  position: absolute;
  top: 1525px;
  right: 23%;
  z-index: 1;
  height: auto;
  width: 25%;
  border: dashed 5px white;
}
#cbravoinfo3 {
  position: absolute;
  top: 1725px;
  right: 13%;
  z-index: 1;
  height: auto;
  width: 35%;
  border: solid 5px white;
}
#cbravoinfo4 {
  position: absolute;
  top: 1925px;
  right: 13%;
  z-index: 1;
  height: auto;
  width: 35%;
  border: solid 5px white;
}
